<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Scada" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
    <p>
        <table class="headtable">
            <tr>
                <th><a href="{{ main_url }}">Анкета</a></th>
                <th><a href="{{ stats_url }}">Статистика</a></th>
                <th><a href="{{ json_url }}">Json</a></th>
                <th><a href="{{ search_url }}">Поиск</a></th>
                </tr>
        </table>
    </p>
    <h1 class="head_line">Параметры поиска:</h1>
    <form>
        <p>
            <b>Ударение:</b><Br>
            <input type="radio" name="variant" value="рАкушка"> рАкушка<Br>
            <input type="radio" name="variant" value="ракУшка"> ракУшка<Br>
            <input type="radio" name="variant" value="не имеет значения" checked> Не имеет значения<Br>
        </p>
        <p>
            <b>Пол:</b><br>
            <input type="radio" name="sex" value="М"> М<Br>
            <input type="radio" name="sex" value="Ж"> Ж<Br>
            <input type="radio" name="sex" value="Затрудняюсь ответить"> Затрудняюсь ответить<Br>
            <input type="radio" name="sex" value="не имеет значения" checked> Не имеет значения<Br>
        </p>
        <p>
            <b>Возрастная группа:</b><br>
            <input type="radio" name="age" value="<19"> <19<Br>
            <input type="radio" name="age" value="19-30"> 19-30<Br>
            <input type="radio" name="age" value="31-45"> 31-45<Br>
            <input type="radio" name="age" value="45+"> 45+<Br>
            <input type="radio" name="age" value="не имеет значения" checked> Не имеет значения<Br>
        </p>
        <p>
            <input class="myButton" type="submit" value="Отправить">
        </p>
    </form>
</body>
</html>