<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма для INSERT'ов</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Scada" rel="stylesheet">
</head>
<body>
    <h1 class="head_line">Форма</h1>
    <form>
        <p>Название файла<Br>
            <textarea id="inputSuccess" name="file_name" placeholder="Название файла" cols="20" rows="2" autofocus autocomplete="off" required></textarea>
        </p>
        <p>Текст файла<Br>
            <textarea id="inputSuccess" name="file_text" placeholder="Текст файла" cols="50" rows="10" autocomplete="off" required></textarea>
        </p>
        <p>
            <button class="myButton" type="submit" value = "Отправить">Отправить</button>
        </p>
    </form>
</body>
</html>