<!DOCTYPE HTML>
<html>
<head>
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Scada" rel="stylesheet">
    <meta charset="utf-8">
    <title>Таблица результатов поиска</title>
</head>
<body>
    <p>
        <table class="headtable">
            <tr>
                <th><a href="{{ main_url }}">Анкета</a></th>
                <th><a href="{{ stats_url }}">Статистика</a></th>
                <th><a href="{{ json_url }}">Json</a></th>
                <th><a href="{{ search_url }}">Поиск</a></th>
            </tr>
        </table>
    </p>

    <h1 class="head_line">Таблица результатов поиска</h1>
   
    <table class="result_table">
        <tr>
            <th>Имя</th>
            <th>Выбранный вариант</th>
            <th>Родной город</th>
            <th>Возраст</th>
	        <th>Пол</th>
	        <th>Образование</th>
	        <th>Комментарий</th>
        </tr>
        {% for key in result %}
        <tr>
            <td>{{result[key][0]}}</td>
            <td>{{result[key][1]}}</td>
            <td>{{result[key][2]}}</td>
            <td>{{result[key][3]}}</td>
            <td>{{result[key][4]}}</td>
            <td>{{result[key][5]}}</td>
            <td>{{result[key][6]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>