body {
    background: url(artleo.com-102359.jpg) center center;
    background-attachment: fixed;
    text-align: center;
}
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding: 0;
  overflow: hidden;
  width: 660px;
}
a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  text-align: center;
  display: block;
  color: #868686;
  padding: 0.5em 0;
  font-family: 'Neucha', cursive;
  font-size: 2em;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}
a:hover {
  /*background:#1C85BB;добавляем эффект при наведении*/
  color: #000080;
}
li {
    display:block;
    float:left; /*Размещаем список горизонтально для реализации меню*/
    margin-right:5px; /*Добавляем отступ у пунктов меню*/
    width: 25%;
}
.headtable {
    display: block;
    position: relative;
    border-spacing: 40px 7px;
    border-collapse: separate; /* Способ отображения границы */
    width: 100%;
}
.headtable:after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    background: linear-gradient(90deg,
        #CDE0EE, #CDE0EE 20%,
        #EBF0F3 20%, #EBF0F3 40%,
        #9BB0C1 40%, #9BB0C1 60%,
        #5D8BAD 60%, #5D8BAD 80%,
        #041E34 80%, #041E34 100%);
}

form {
    font-family: 'Bad Script', cursive;
    font-size: 20px;
    border: 3px solid #466995;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.head_line {
    font-family: 'Bad Script', cursive;
}
.headtable {
    text-align: center
}
.head_tr {
    text-align: center
    }
.myButton {
    -moz-box-shadow: 0px 10px 14px -7px #bee2f9;
	-webkit-box-shadow: 0px 10px 14px -7px #bee2f9;
	box-shadow: 0px 10px 14px -7px #bee2f9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
	background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
	background-color:#63b8ee;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family:'Bad Script', cursive;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
	background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
	background-color:#468ccf;
}
.myButton:active {
    position:relative;
	top:1px;
}
.result_table {
    border-radius: 20px;
    font-family: 'Bad Script', cursive;
    font-size: 14px;
    width: 640px;
    text-align: left;
    border-collapse: collapse;
    background: #4682B4;
    margin: auto;
}
.result_table th {
    color: #EDB749;
    border-bottom: 1px solid #37B5A5;
    padding: 12px 17px;
}
.result_table td {
    color: #CAD4D6;
    border-bottom: 1px solid #37B5A5;
    border-right:1px solid #37B5A5;
    padding: 7px 17px;
}
.result_table tr:last-child td {
    border-bottom: none;
}
.result_table td:last-child {
    border-right: none;
}
.result_table tr:hover td {
    text-decoration: underline;
}